#name {
	width: 100%;
	height: 100%;
}



#map {
	width: 100%;
	height: 100%;
}

#campus {
	padding-left: 10px;
	width: content;
	text-align: center;

}

img {
	width: 300px;
}

.img-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.movie_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.movie_head i {
	float: right;
}

.movie_head span {
	padding-right: 7.5px;
}

.fa-sort-desc {
	float: right;
}

.movie_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}

.movie_head i {
	float: right;
}

.movie_text span {
	color: #ff7700;
}
